body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

.title {
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin: auto;
    background-clip: content-box;
    background-color: transparent;
    width: 500px;
    padding-top: 20px;
    text-align: center;
    contain: content;
    text-emphasis-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);

}  
.bottomtext {
   float: right; 
   font-size: 40px;
    color: white;
    font-weight: bold;
    margin: auto;
    background-color: transparent;
    width: 500px;
    text-align: center;
    contain: content;
    text-emphasis-color: white;
    border-radius: 20px;
    overflow: hidden;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);  
}
.score {
    
    float: left;
    margin-left: 125px;
    text-align: center;
    padding-top: 40px;
    font-family: inherit;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15); 
}

  .bg {

    background: url("../images/bg.jpg");
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover; 
  }
 
.game {
    width: 440px;
    height: 440px;
    margin:auto;
    padding-right: 50px;
}

.top-row {   
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 10px;
    padding-left: 10px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15); 
}
.bottom-row {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 2px
 
}

.side-row {
    width: 40px;
    padding-right: 10px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);  
}

.main {

    Display: grid;
    width: 400px;
    grid-template-columns: repeat(10, 1fr);
    background: url("../images/goomba.gif");
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    padding-bottom: 50px;  

}

.square {
    margin: 0px;
    height: 40px;
    width: 40px;
    background: transparent;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;    
}

.square button {
    background: url("../images/blocks.png");
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    background-color: gray;
    height: 23px;
    width: 23px;

}

.hidden {
    visibility: hidden
}

#hint1 {
    font-family: inherit;
    font-size: 18px;
    margin-left: 200px;
    background-color: yellow;
}

.alert {
    color: red;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
  }

.modal1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
  }

.hintmodal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
  }
.intromodal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 10;
  }
.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    text-align: center;
  }
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }

.close-button1 {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }

.close-button2 {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }

.close-button3 {
    
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
.close-button:hover {
    background-color: darkgray;
  }
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }