body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

.title {
    /*display: grid;*/
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: auto;
    background-clip: content-box;
    background-color: transparent;
    width: 500px;
    padding-top: 20px;
    text-align: center;
    contain: content;
    text-emphasis-color: white;
    border-radius: 20px;
    overflow: hidden;

}  
.bottomtext {
   /* display: grid;*/
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: auto;
   /* background-clip: content-box;*/
    background-color: transparent;
    width: 500px;
    margin-top: 60px;
    text-align: center;
    contain: content;
    text-emphasis-color: white;
    border-radius: 20px;
    overflow: hidden;
}

  .bg {
   /* The image used  */
    background: url("../images/bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
 
.game {
    width: 440px;
    height: 440px;
    margin:auto;
    padding-right: 50px;
}

.top-row {
    /* ADD CODE HERE 
    grid
    Use css grid to create 11 equally sized columns 
    
    */
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding: 10px;
    padding-left: 10px;

}
.bottom-row {
    /* ADD CODE HERE
    
    use css grid with 2 columns with a ratio of 1:10 
    
    */
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 2px
 
}

.side-row {
    width: 40px;
    padding-right: 10px;
}

.main {

    Display: grid;
    width: 400px;
    grid-template-columns: repeat(10, 1fr);
    background: url("../images/goomba.gif");
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    /*"https://www.vhv.rs/dpng/d
    /152-1528668_mario-bros-clipart-enemy-flying-goomba-hd-png.png"*/
    padding-bottom: 50px;  

}

.square {
    margin: 0px;
    height: 40px;
    width: 40px;
    background: transparent;
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;    
}

button {
    background: url("../images/blocks.jpg");
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    background-color: black;
    /*UPDATELOLZ*/
}

.hidden {
    visibility: hidden
}

#hint1 {
    margin-left: 200px;
}

.alert {
    color: red;
}
.score {
    margin: auto;
    text-align: center;
    padding-top: 90px;
    font-family: inherit;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
